<h2>Create Music Room</h2>
<form id="form_create_music_room">
    <div class="form-group">
        <label for="music_room_name">Name</label>
        <input type="text" class="form-control" id="music_room_name" placeholder="My House Party">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="music_room_ispublic">
        <label class="form-check-label" for="music_room_public">Public</label>
    </div>
    <button type="button" class="btn btn-primary btn-block" data-emit-click="create_music_room">Create</button>
</form>