<h5 class="mb-1"><%= song.title || song.name %> - <%= song.artistName %><a class="btn btn-link pull-right"
                                                                           data-emit-click="song"><%= song.votes || 0 %></a></h5>
